POSTGRES_USER=flapazon
POSTGRES_PASSWORD=testtest
POSTGRES_DB=flapazon
POSTGRES_PORT=5432

MONGO_USER=flapazon
MONGO_PASSWORD=testtest
MONGO_PORT=27017

JWT_SECRET=un super secret JWT super mega secret de la mort qui tue.
JWT_EXPIRES_IN=3600s
INTERNAL_TOKEN=jeton-interne-partage-entre-services

GATEWAY_PORT=3000
AUTH_PORT=3001
PRODUCTS_PORT=3002
STOCKS_PORT=3003
ORDERS_PORT=3004