ORDERS_PORT=3004
DB_HOST=localhost
DB_PORT=5432
DB_USER=flapazon
DB_PASSWORD=testtest
DB_NAME=flapazon_orders
JWT_SECRET=genere-un-secret-fort
INTERNAL_TOKEN=jeton-interne-partage
PRODUCTS_URL=http://localhost:3002
STOCKS_URL=http://localhost:3003
GATEWAY_URL=http://localhost:3000